<p>Hi {{InspectorName}},</p>

<p>The Parthenium Weed Carrier - Biosecurity Certificate you approved for {{PersonResponsibleName}} is attached.</p>

<ul>
  <li>PaperCertificateNumber: {{PaperCertificateNumber}}</li>
  <li>DigitalReferenceCode: {{DigitalReferenceCode}}</li>
  <li>InspectionDate: {{InspectionDate}}</li>
</ul>