<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang='en' xml:lang='en'>
<head>

<meta charset='utf-8' />

<!-- Make page mobile friendly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Parthenium Weed Carrier - Biosecurity Certificate</title>

<meta name='description' content='Parthenium Weed Carrier - Biosecurity Certificate' />
<meta name='author' content='NSW Department of Primary Industries, Biosecurity and Food Safety' />

<style>/*<![CDATA[*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
  :root {

      /* NSW GOVT CSS VARS */

    /* "brand colours" */
    --nsw-brand-dark: #002664;
    --nsw-brand-light: #cbedfd;
    --nsw-brand-supplementary: #146cfd;
    --nsw-brand-accent: #d7153a;

    /* "grey colours" */
    --nsw-palette-black: #000;
    --nsw-palette-grey-01: #22272b;
    --nsw-palette-grey-02: #495054;
    --nsw-palette-grey-03: #cdd3d6;
    --nsw-palette-grey-04: #ebebeb;
    --nsw-palette-off-white: #f2f2f2;
    --nsw-palette-white: #fff;

    /* "text colours" */
    --nsw-text-dark: #22272b;
    --nsw-text-light: #fff;
    --nsw-focus: #0085b3;
    --nsw-text-hover-bg: rgba(0, 133, 179, 0.2);
    --nsw-text-visited: #551a8b;

    /* "status colours" */
    --nsw-status-info-blue: #2e5299;
    --nsw-status-info-blue-bg: #eaedf4;
    --nsw-status-success-green: #00a908;
    --nsw-status-success-green-bg: #e5f6e6;
    --nsw-status-warning-orange: #dc5800;
    --nsw-status-warning-orange-bg: #fbeee5;
    --nsw-status-error-red: #b81237;
    --nsw-status-error-red-bg: #f7e7eb;
  

    /* Font */
    --nsw-font-family: 'Public Sans', sans-serif;
    --nsw-font-size: 16px;
    --nsw-line-height: 1.5;
    --nsw-font-normal: 400;
    --nsw-font-bold: 700;

    --nsw-font-size-xxs-mobile: 0.75rem;
    --nsw-font-size-xxs-desktop: 0.75rem;
    --nsw-line-height-xxs-mobile: 1.5;
    --nsw-line-height-xxs-desktop: 1.5;

    --nsw-font-size-xs-mobile: 0.875rem;
    --nsw-font-size-xs-desktop: 0.875rem;
    --nsw-line-height-xs-mobile: 1.35;
    --nsw-line-height-xs-desktop: 1.35;

    --nsw-font-size-sm-mobile: 1rem;
    --nsw-font-size-sm-desktop: 1rem;
    --nsw-line-height-sm-mobile: 1.5;
    --nsw-line-height-sm-desktop: 1.5;

    --nsw-font-size-md-mobile: 1.125rem;
    --nsw-font-size-md-desktop: 1.25rem;
    --nsw-line-height-md-mobile: 1.33;
    --nsw-line-height-md-desktop: 1.4;

    --nsw-font-size-lg-mobile: 1.375rem;
    --nsw-font-size-lg-desktop: 1.5rem;
    --nsw-line-height-lg-mobile: 1.25;
    --nsw-line-height-lg-desktop: 1.33;

    --nsw-font-size-xl-mobile: 1.75rem;
    --nsw-font-size-xl-desktop: 2rem;
    --nsw-line-height-xl-mobile: 1.25;
    --nsw-line-height-xl-desktop: 1.25;

    --nsw-font-size-xxl-mobile: 2.25rem;
    --nsw-font-size-xxl-desktop: 3rem;
    --nsw-line-height-xxl-mobile: 1.25;
    --nsw-line-height-xxl-desktop: 1.25;

    /* Borders */
    --nsw-border-radius: 0.25rem;

    /* Shadows */
    --nsw-box-shadow: 0 0.25rem 0.75rem 0 rgba(var(--nsw-black-rgb),0.15);

    /* Maximum width of container */
    --nsw-container-width: 75rem;
    --footer-horizontal-edge: 12%;

    /* Project Specific */
    --field-value-min-width: 170px;
    --page-edge-space: 15mm
  }
  /* 
    210mm  A4 width
    297mm  A4 height
  */
  body {
    width: 210mm; 
    height: 297mm; 
    margin: 0;
    padding: var(--page-edge-space);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.33;   
  }

  main {
    flex: 1 1 auto;
  }

  body > header, body > footer {
    height: 7%;
    flex: 0 1 auto; 
  }

  header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 20%;
  }

  header > * {
    box-sizing: border-box;
    height: 100%;
    width: auto;
    justify-self: start;
  }

  header > .logo {
    width: 80px;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  fieldset {
    padding: 0;
    border: none;
  }

  footer {
    margin-top: 0.5em;
    border-top: 1px solid var(--nsw-palette-grey-02);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  footer table {
    flex: 0 1 auto;
    margin: 0;
  }

  h1 {
    color: var(--nsw-brand-dark);
    font-size: var(--nsw-font-size-xl-desktop);
    line-height: 1.25;
    margin: 0 0 0 0;
    width: 100%;
  }


  h1 > .subtitle {
    font-size: var(--nsw-font-size-md-desktop);
  }

  h2 {
    font-size: 1em;
    margin: 1.5em 0 0.5em;
  }

  p, ul, ol, tr, td, label, figcaption {
    font-size: var(--nsw-font-size-xs-desktop);
  }

  p, table {
    margin: 1rem 0 0 0;
    width: 100%;
  }
  
  th {
    text-align: left;
  }


  /* #carriers > p:nth-of-type(3), #carriers > ol  {
    margin: 0;
  } */

  #carriers > table td:nth-child(1) {
    min-width: var(--field-value-min-width);
  }

  table#inspectionDetails, table#paymentTransactionDetails {
    table-layout: fixed;
  }

  table#inspectionDetails td:nth-child(1) {
    width: 20%;
  }
  table#inspectionDetails td:nth-child(2) {
    width: 10%;
  }
  table#inspectionDetails td:nth-child(3) {
    width: 10%;
  }
  table#inspectionDetails td:nth-child(4) {
    width: 10%;
  }

  /* ol {
    margin-top: 1em;
  } */

  ol > li {
    list-style-type: decimal
  }
  
  ol ol > li {
    list-style-type: lower-alpha;
  }

  .fieldValue {
    border: 1px solid var(--nsw-palette-grey-02);
    padding: 0 0.25rem;
  }
  span.fieldValue {
    min-width: var(--field-value-min-width);
    width: max-content;
    display: inline-block;
  }

  .fieldValue#certificateInForceForDays {
    text-align: center;
    min-width: calc(var(--field-value-min-width) * 0.1);
  }  

  .finePrint {
    margin: 0.5em 0 0;
  }

  .finePrint, .finePrint td, .finePrint td label {
     font-size: var(--nsw-font-size-xxs-desktop); 
  }

  .digitalReferenceCode {
    visibility: hidden;
  }

  .todo {
    color: red;
  }

  label {
    margin-right: 0.5em;
  }

  #payment > p {
    margin-bottom: 1em;
  }
  #payment > fieldset > div {
    /* border-top: 1px solid black; */
    margin-bottom: 1em;
  }

  #payment > fieldset  p {
    margin-top: 0.5em;
  }

  .withQRCode {
    width: 100%;
    display: grid;
    grid-template-columns: 80% auto;
    column-gap: 1em;
    align-items: top;
  }

  /* .withQRCode > *:nth-child(1), .withQRCode > p.finePrint  {
    width: 80%;
  } */

  .withQRCode p, .withQRCode figure {
    /* position: absolute;
    top: -25px; */
    /* right: 0; */
    margin: 0;
  }

  .withQRCode figure {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 0.25em;
    justify-items: center;
  }

  .withQRCode figure > img {
    width: 80px;
  }

  /* figure#paymentAfterBorderCrossingQRCode {
    visibility: {{FigurePaymentAfterBorderCrossingQRCodeVisibility}};
  } */

  #payNowByCard {
    display: {{PaymentRouteSubsectionVisibility_PayNowByCard}};
  }
  #payAfterBorderCrossing {
    display: {{PaymentRouteSubsectionVisibility_PayAfterBorderCrossing}};
  }
  #noPaymentRequired {
    display: {{PaymentRouteSubsectionVisibility_NoPaymentRequired}};
  }

  .pageBreak {
    padding-top: var(--page-edge-space);
  }

  @media print {
      .pageBreak {
        break-before: page; 
      }
  }

/*]]>*/</style> 

</head>
<body>
  <header>
    <div>
      <h1>Carrier Biosecurity Certificate</h1>
      <p><label for="PaperCertificateNumber">Paper certificate number</label><span class="fieldValue" id="PaperCertificateNumber">{{PaperCertificateNumber}}</span></p>
    </div>

    <!-- <img class='logo' src="https://nswfoodauthority-parthenium-carrier-dev.cdn.oneblink.io/images/logos/PRIMARY-nsw-government-logo.svg" alt="Logo NSW Government. Development stub" />  -->
    {{{Logo}}}
  </header>

  <main>
    <section id="carriers">
      <h2>Carriers and inspection details</h2>
      <p>I, <span class="fieldValue">{{InspectorName}}</span> as a biosecurity certifier under the Biosecurity Act 2015 Act issue this biosecurity certificate in accordance with Part 13, in respect of the following parthenium weed carrying equipment (that is a grain harvester or comb trailer) for importation into the State from Queensland:</p>
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Make and model</th>
            <th>Registration Number</th>
            <th>Serial Number</th>
          </tr>
        </thead>
        <tbody>
          {{#Carriers}}
          <tr>
            <td class="fieldValue">{{CarrierType}}</td>
            <td class="fieldValue">{{CarrierMake}} {{CarrierModel}}</td>
            <td class="fieldValue">{{CarrierRegistrationNumber}}</td>
            <td class="fieldValue">{{CarrierSerialNumber}}</td>
          </tr>
          {{/Carriers}}
        </tbody>
        <!-- <tbody>
          <tr>
            <td class="fieldValue">Grain Harvester - including comb or front </td>
            <td class="fieldValue">Toyota Big Thresher </td>
            <td class="fieldValue">AAA222</td>
            <td class="fieldValue">111222</td>
          </tr>
        </tbody> -->
      </table>
      <p>I hereby certify that:</p>
      <ol>
        <li>I have received a completed copy of the Record of Movement form in respect to the equipment
          specified above.</li>
        <li>In accordance with clause 96 of the Biosecurity Order (Permitted Activities)
          2019 (BOPA), the equipment specified above:
          <ol>
            <li>has been cleaned in the manner set out in Schedule 1 to BOPA; and</li>
            <li>has been inspected at an approved facility.</li>
          </ol>
        </li>
      </ol>

      <p>This certificate remains in force for a period of <span class="fieldValue" id="certificateInForceForDays">{{CertificateInForceForDays}}</span> day(s), until <span class="fieldValue" id="CertificateInForceExpiryDateTime">{{CertificateInForceExpiryDateTime}}</span>.</p>

      <table id="inspectionDetails">
        <thead>
          <tr>
            <th>Biosecurity certifier name <!--(approved under s.195 of the Act)--></th>
            <th>Role</th>
            <th>Agency</th>
            <th>Inspection date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fieldValue">{{InspectorName}}</td>
            <td class="fieldValue">{{InspectorRole}}</td>
            <td class="fieldValue">{{InspectorAgency}}</td>
            <td class="fieldValue">{{InspectionDate}}</td>
          </tr>
          <!-- <tr>
            <td class="fieldValue">John Bentley</td>
            <td class="fieldValue">Inspector</td>
            <td class="fieldValue">DPI NSW</td>
            <td class="fieldValue">06 Oct 2023</td>
          </tr> -->
        </tbody>
      </table>
    </section>

    <!-- <section>
      <h2>Payment basics</h2>
      <p>Payment route: <span class="fieldValue">{{PaymentRoute}}</span></p>
      <div class="withQRCode">
        <figure id="paymentAfterBorderCrossingQRCode">
          {{{PaymentAfterBorderCrossingFormLinkQRImg}}}
          <!-- <img src="https://api.qrserver.com/v1/create-qr-code/?format=svg&size=80x80&data=https://nswfoodauthority-dpi-forms-dev.cdn.oneblink.io/forms/23357?preFillData={"PaperCertificateNumber":"Q1000"}" alt="QR Code for Payment after border crossing" /> 
          <figcaption>Pay after border</figcaption>   
        </figure>
        {{{PaymentAfterBorderCrossingTextWithHtml}}}
      </div>
    </section>    -->

    <section>
      <h2>Privacy statement</h2>
      <p>To enable this biosecurity certificate to be issued to you, the Department of Primary Industries and Regional Development (DPIRD) has asked you to provide personal information (such as your name, email or telephone number). We are unable to issue the certificate to you without this information. We may use and disclose your information as is reasonably necessary for the purpose of performing biosecurity risk functions under, or reasonably contemplated by, the NSW Biosecurity Act 2015. We will not otherwise disclose information about you to any person except where permitted by law. If you would like to gain access to, or amend your personal information, or require more details about privacy please contact us <a href="mailto:gipa@dpird.nsw.gov.au">gipa@dpird.nsw.gov.au</a></p>
    </section>

    <!-- <h1 class="pageBreak">
      Carrier Biosecurity Certificate: <br /> 
      Additional Information
    </h1> -->

    <header class="pageBreak">
      <div>
        <h1>
          Carrier Biosecurity Certificate: <br /> 
          Additional Information
        </h1>
      </div>
  
      <!-- <img class='logo' src="https://nswfoodauthority-parthenium-carrier-dev.cdn.oneblink.io/images/logos/PRIMARY-nsw-government-logo.svg" alt="Logo NSW Government. Development stub" />  -->
      {{{Logo}}}
    </header>

    <section id="payment">
      <h2>Payment</h2>
      <fieldset>
        <!-- <legend>Payment route</legend> -->
        <div id="payNowByCard">
          <label><input type="checkbox" name="PaymentRoute[]" value="Pay now by card - user filled ROM" {{{PaymentRouteChecked_PayNowByCard_UserFilledRom}}} />Pay now by card - user filled ROM</label>
          <label><input type="checkbox" name="PaymentRoute[]" value="Pay now by card - certifier filled ROM" {{{PaymentRouteChecked_PayNowByCard_CertifierFilledRom}}} />Pay now by card - certifier filled ROM</label>
          <div>
            <table id="paymentTransactionDetails">
              <thead>
                <tr>
                  <th>Receipt number</th>
                  <th>Transaction date</th>
                  <th>Amount paid</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fieldValue">{{ReceiptNumber}}</td>
                  <td class="fieldValue">{{TransactionDate}}</td>
                  <!-- <td class="fieldValue">{{ToFirstName}} {{ToLastName}}</td>
                  <td class="fieldValue">{{ToBusinessName}}</td> -->
                  <td class="fieldValue">{{AmountPaid}}</td>
                </tr>
              </tbody>
            </table>
            <!-- <table id="paymentTransactionDetails">
              <thead>
                <tr>
                  <th>Receipt number</th>
                  <th>Card holder name</th>
                  <th>Amount Paid</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fieldValue">{{ReceiptNumber}}</td>
                  <td class="fieldValue">{{CardholderName}}</td>
                  <td class="fieldValue">{{AmountPaid}}</td>
                </tr>
              </tbody>
            </table> -->
          
          </div>
          <p>Amount paid is GST-free and includes card surcharge. A detailed Tax Invoice was emailed to the responsible person or owner if they provided an email with the Record of Movement.</p>
        </div>
        <div id="payAfterBorderCrossing">
          <label><input type="checkbox" name="PaymentRoute[]" value="Pay after border crossing"  {{{PaymentRouteChecked_PayAfterBorderCrossing}}} />Pay after border crossing</label>
          <div class="withQRCode">
            <p>You must pay after the border crossing into NSW, within 7 days. Please click <a href="{{PaymentAfterBorderCrossingFormLink}}">Parthenium Weed Carriers - Biosecurity Certificate - Payment after Border Crossing</a>, or scan the QR code. Either will fill the form with your unique "Paper certificate number".</p>
            <figure id="paymentAfterBorderCrossingQRCode">
              {{{PaymentAfterBorderCrossingFormLinkQRImg}}}
              <!-- <img src="https://api.qrserver.com/v1/create-qr-code/?format=svg&size=80x80&data=https://nswfoodauthority-dpi-forms-dev.cdn.oneblink.io/forms/23357?preFillData={'PaperCertificateNumber':'Q1000'}" alt="QR Code for Payment after border crossing" /> -->
              <figcaption>Pay after border</figcaption>   
            </figure>
            <!-- {{{PaymentAfterBorderCrossingTextWithHtml}}} -->
          </div>
        </div>
        <div id="noPaymentRequired">
        <label><input type="checkbox" name="PaymentRoute[]" value="No payment required"  {{{PaymentRouteChecked_NoPaymentRequired}}} />No payment required</label>
          <p>No payment is required. For example, because this is for the 2023 season when fees where waived.</p>
        </div>
      </fieldset>
    </section>  

    <section>
      <h2>NSW destinations notification</h2>
      <div class="withQRCode">
        <p>At season's end, or as you visit farms, please click <a href="{{NswDestinationsNotificationFormLink}}">Parthenium Weed Carriers - NSW Destinations Notification</a>, or scan the QR code. Either will fill the form with your unique "Paper certificate number".</p>
        <figure>
          {{{NswDestinationsNotificationFormLinkQRImg}}}
          <!-- <img src="https://api.qrserver.com/v1/create-qr-code/?format=svg&size=80x80&data=https://nswfoodauthority-dpi-forms-dev.cdn.oneblink.io/forms/23378?preFillData={'PaperCertificateNumber':'Q1000'}" alt="QR Code for NSW destinations notification" /> -->
          <figcaption>NSW Dest. Notif.</figcaption>   
        </figure>
      </div>
    </section>

    <section>
      <h2>Further assistance</h2>
      <p class="finePrint">If you have any enquiries in relation to this certificate please contact: NSW Department of Primary Industries and Regional Development (ABN 19 948 325 463), Biosecurity Helpline 1800 680 244; or <a href="mailto:weeds@dpird.nsw.gov.au">weeds@dpird.nsw.gov.au</a></p>
    </section>

    <section>
      <h2>Office use</h2>
      <p class="finePrint"><input type="checkbox" checked="checked" />
         A paper certificate has been provided to the person responsible in all cases (it's important that we don't reuse the paper certificate number
when we tie it to a digital record).</p> 
    </section>

    <section>
      <h2>Technical</h2>
      <table class="finePrint">
        <tr>
          <td><label for="DigitalReferenceCode">DigitalReferenceCode</label><br /><span class="fieldValue" id="DigitalReferenceCode">{{DigitalReferenceCode}}</span></td>
          <td><label for="BaseFormSubmissionId">BaseFormSubmissionId</label><br /><span class="fieldValue" id="BaseFormSubmissionId">{{BaseFormSubmissionId}}</span></td>
          <td><label for="ApprovalFormSubmissionId">ApprovalFormSubmissionId</label><br /><span class="fieldValue" id="ApprovalFormSubmissionId">{{ApprovalFormSubmissionId}}</span></td>
        </tr>
        <tr>
          <td><label for="ApprovalFlowUpdatedAt">ApprovalFlowUpdatedAt</label><br /><span class="fieldValue" id="ApprovalFlowUpdatedAt">{{ApprovalFlowUpdatedAt}}</span></td>
          <!-- We include the non-breaking space to prevent the fieldValue inline-block from collapsing when in the PROD environment, which returns blank. 
               We use the hex value because we are using Polyglot XHTML  -->
          <td><label for="EnvPrefix">EnvPrefix</label><br /><span class="fieldValue" id="EnvPrefix">{{EnvPrefix}}&#x00A0;</span></td>
          <td><label for="CertificateTemplateVersion">CertificateTemplateVersion</label><br /><span class="fieldValue" id="CertificateTemplateVersion">v20240920-1134</span></td>
        </tr>
        <tr>
          <td><label for="PaymentRoute">PaymentRoute</label><br /><span class="fieldValue" id="PaymentRoute">{{PaymentRoute}}</span></td>
        </tr>
      </table>        
    </section>

  </main>


</body>