<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' lang='en' xml:lang='en'>
<head>

<meta charset='utf-8' />

<!-- Make page mobile friendly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Parthenium Weed Carrier - Biosecurity Certificate</title>

<meta name='description' content='Parthenium Weed Carrier - Biosecurity Certificate' />
<meta name='author' content='NSW Department of Primary Industries, Biosecurity and Food Safety' />

<style>/*<![CDATA[*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
  :root {

      /* NSW GOVT CSS VARS */

    /* "brand colours" */
    --nsw-brand-dark: #002664;
    --nsw-brand-light: #cbedfd;
    --nsw-brand-supplementary: #146cfd;
    --nsw-brand-accent: #d7153a;

    /* "grey colours" */
    --nsw-palette-black: #000;
    --nsw-palette-grey-01: #22272b;
    --nsw-palette-grey-02: #495054;
    --nsw-palette-grey-03: #cdd3d6;
    --nsw-palette-grey-04: #ebebeb;
    --nsw-palette-off-white: #f2f2f2;
    --nsw-palette-white: #fff;

    /* "text colours" */
    --nsw-text-dark: #22272b;
    --nsw-text-light: #fff;
    --nsw-focus: #0085b3;
    --nsw-text-hover-bg: rgba(0, 133, 179, 0.2);
    --nsw-text-visited: #551a8b;

    /* "status colours" */
    --nsw-status-info-blue: #2e5299;
    --nsw-status-info-blue-bg: #eaedf4;
    --nsw-status-success-green: #00a908;
    --nsw-status-success-green-bg: #e5f6e6;
    --nsw-status-warning-orange: #dc5800;
    --nsw-status-warning-orange-bg: #fbeee5;
    --nsw-status-error-red: #b81237;
    --nsw-status-error-red-bg: #f7e7eb;
  

    /* Font */
    --nsw-font-family: 'Public Sans', sans-serif;
    --nsw-font-size: 16px;
    --nsw-line-height: 1.5;
    --nsw-font-normal: 400;
    --nsw-font-bold: 700;

    --nsw-font-size-xxs-mobile: 0.75rem;
    --nsw-font-size-xxs-desktop: 0.75rem;
    --nsw-line-height-xxs-mobile: 1.5;
    --nsw-line-height-xxs-desktop: 1.5;

    --nsw-font-size-xs-mobile: 0.875rem;
    --nsw-font-size-xs-desktop: 0.875rem;
    --nsw-line-height-xs-mobile: 1.35;
    --nsw-line-height-xs-desktop: 1.35;

    --nsw-font-size-sm-mobile: 1rem;
    --nsw-font-size-sm-desktop: 1rem;
    --nsw-line-height-sm-mobile: 1.5;
    --nsw-line-height-sm-desktop: 1.5;

    --nsw-font-size-md-mobile: 1.125rem;
    --nsw-font-size-md-desktop: 1.25rem;
    --nsw-line-height-md-mobile: 1.33;
    --nsw-line-height-md-desktop: 1.4;

    --nsw-font-size-lg-mobile: 1.375rem;
    --nsw-font-size-lg-desktop: 1.5rem;
    --nsw-line-height-lg-mobile: 1.25;
    --nsw-line-height-lg-desktop: 1.33;

    --nsw-font-size-xl-mobile: 1.75rem;
    --nsw-font-size-xl-desktop: 2rem;
    --nsw-line-height-xl-mobile: 1.25;
    --nsw-line-height-xl-desktop: 1.25;

    --nsw-font-size-xxl-mobile: 2.25rem;
    --nsw-font-size-xxl-desktop: 3rem;
    --nsw-line-height-xxl-mobile: 1.25;
    --nsw-line-height-xxl-desktop: 1.25;

    /* Borders */
    --nsw-border-radius: 0.25rem;

    /* Shadows */
    --nsw-box-shadow: 0 0.25rem 0.75rem 0 rgba(var(--nsw-black-rgb),0.15);

    /* Maximum width of container */
    --nsw-container-width: 75rem;
    --footer-horizontal-edge: 12%;

    /* Project Specific */
    --field-value-min-width: 170px;

  }
  /* 
    210mm  A4 width
    297mm  A4 height
  */
  body {
    width: 210mm; 
    height: 297mm; 
    margin: 0;
    padding: 12mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.33;    
  }

  main {
    flex: 1 1 auto;
  }

  body > header, body > footer {
    height: 7%;
    flex: 0 1 auto; 
  }

  header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 20%;
  }

  header > * {
    box-sizing: border-box;
    height: 100%;
    width: auto;
    justify-self: start;
  }

  header > #logo {
    justify-self: end;
  }

  footer {
    margin-top: 0.5em;
    border-top: 1px solid var(--nsw-palette-grey-02);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  footer table {
    flex: 0 1 auto;
    margin: 0;
  }

  h1 {
    color: var(--nsw-brand-dark);
    font-size: var(--nsw-font-size-xl-desktop);
    line-height: 1.25;
    margin: 0 0 0 0;
    width: 100%;
  }


  h1 > .subtitle {
    /* width: 60%; */
    font-size: var(--nsw-font-size-md-desktop);
  }

  h2 {
    /* border-top: 1px solid black; */
    font-size: 1em;
    margin: 1.5em 0 0.5em;
  }

  p, ul, ol, tr, td, label {
    font-size: var(--nsw-font-size-xxs-desktop);
  }

  p, table {
    margin: 1rem 0 0 0;
    width: 100%;
  }
  th {
    text-align: left;
  }
  table#carriers td:nth-child(1) {
    min-width: var(--field-value-min-width);
  }

  table#inspectionDetails, table#paymentTransactionDetails {
    width: 100%;
    table-layout: fixed;
  }

  table#inspectionDetails td:nth-child(1) {
    width: 20%;
  }
  table#inspectionDetails td:nth-child(2) {
    width: 10%;
  }
  table#inspectionDetails td:nth-child(3) {
    width: 10%;
  }
  table#inspectionDetails td:nth-child(4) {
    width: 10%;
  }

  ol > li {
    list-style-type: decimal
  }
  
  ol ol > li {
    list-style-type: lower-alpha;
  }

  .fieldValue {
    border: 1px solid var(--nsw-palette-grey-02);
    padding: 0 0.25rem;
  }
  span.fieldValue {
    min-width: var(--field-value-min-width);
    width: max-content;
    display: inline-block;
  }

  .fieldValue#certificateInForceForDays {
    text-align: center;
    min-width: calc(var(--field-value-min-width) * 0.1);
  }  

  .finePrint {
    margin: 0.5em 0 0;
  }

  .finePrint, .finePrint td, .finePrint td label {
     font-size: var(--nsw-font-size-xxs-desktop); 
  }

  .digitalReferenceCode {
    visibility: hidden;
  }

  .todo {
    color: red;
  }

  label {
    margin-right: 0.5em;
  }

  /* Debugging */
  /* body, header, main, footer {
    border: 1px solid blue;
  } */

  /* header > *, header fieldset > * {
    border: 1px solid green;
  } */

/*]]>*/</style> 

</head>
<body>
  <header>
    <div>
      <h1>Carrier Biosecurity Certificate</h1>
      <p><label for="PaperCertificateNumber">Paper certificate number</label><span class="fieldValue" id="PaperCertificateNumber">{{PaperCertificateNumber}}</span></p>
    </div>

    <!-- <img id='logo' src="https://nswfoodauthority-parthenium-carrier-dev.cdn.oneblink.io/images/logos/PRIMARY-nsw-government-logo.svg" alt="Logo NSW Government. Development stub" />  -->
    {{{Logo}}}
  </header>

  <main>
    <section>
      <h2>Carrier and inspection details</h2>
      <p>I, <span class="fieldValue">{{InspectorName}}</span> as a biosecurity certifier under the Biosecurity Act 2015 (<strong>the Act</strong>) issue this biosecurity certificate (<strong>the biosecurity certificate</strong>) in accordance with Part 13 of the Act, in respect of the following parthenium weed carrying equipment (that is a grain harvester or comb trailer) for importation into the State from Queensland:</p>
      <table id="carriers">
        <thead>
          <tr>
            <th>Type</th>
            <th>Make and model</th>
            <th>Registration Number</th>
            <th>Serial Number</th>
          </tr>
        </thead>
        <tbody>
          {{#Carriers}}
          <tr>
            <td class="fieldValue">{{CarrierType}}</td>
            <td class="fieldValue">{{CarrierMake}} {{CarrierModel}}</td>
            <td class="fieldValue">{{CarrierRegistrationNumber}}</td>
            <td class="fieldValue">{{CarrierSerialNumber}}</td>
          </tr>
          {{/Carriers}}
        </tbody>
        <!-- <tbody>
          <tr>
            <td class="fieldValue">Grain Harvester - including comb or front </td>
            <td class="fieldValue">Toyota Big Thresher </td>
            <td class="fieldValue">AAA222</td>
            <td class="fieldValue">111222</td>
          </tr>
        </tbody> -->
      </table>
      <p>I hereby certify that:</p>
      <ol>
        <li>I have received a completed copy of the Record of Movement form in respect to the equipment
          specified above.</li>
        <li>In accordance with clause 96 of the Biosecurity Order (Permitted Activities)
          2019 (BOPA), the equipment specified above:
          <ol>
            <li>has been cleaned in the manner set out in Schedule 1 to BOPA; and</li>
            <li>has been inspected at an approved facility.</li>
          </ol>
        </li>
      </ol>

      <p>This certificate remains in force for a period of <span class="fieldValue" id="certificateInForceForDays">{{CertificateInForceForDays}}</span> day(s), until <span class="fieldValue" id="CertificateInForceExpiryDateTime">{{CertificateInForceExpiryDateTime}}</span>.</p>

      <table id="inspectionDetails">
        <thead>
          <tr>
            <th>Biosecurity certifier name <!--(approved under s.195 of the Act)--></th>
            <th>Role</th>
            <th>Agency</th>
            <th>Inspection date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fieldValue">{{InspectorName}}</td>
            <td class="fieldValue">{{InspectorRole}}</td>
            <td class="fieldValue">{{InspectorAgency}}</td>
            <td class="fieldValue">{{InspectionDate}}</td>
          </tr>
          <!-- <tr>
            <td class="fieldValue">John Bentley</td>
            <td class="fieldValue">Inspector</td>
            <td class="fieldValue">DPI NSW</td>
            <td class="fieldValue">06 Oct 2023</td>
          </tr> -->
        </tbody>
      </table>
      <p class="finePrint">If you have any enquiries in relation to this certificate please contact: NSW Department of Primary Industries (ABN 19 948 325 463), Biosecurity Helpline 1800 680 244; or <a href="mailto:weeds@dpi.nsw.gov.au">weeds@dpi.nsw.gov.au</a></p>
    </section>

    <section>
      <h2>Tax invoice and receipt (mini)</h2>
      <p>Payment route: <span class="fieldValue">{{PaymentRoute}}</span></p>
      <table id="paymentTransactionDetails">
        <thead>
          <tr>
            <th>Receipt number</th>
            <th>To Contact Name</th>
            <th>To Business Name</th>
            <th>Amount Paid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fieldValue">{{ReceiptNumber}}</td>
            <td class="fieldValue">{{ToFirstName}} {{ToLastName}}</td>
            <td class="fieldValue">{{ToBusinessName}}</td>
            <td class="fieldValue">{{AmountPaid}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <table id="paymentTransactionDetails">
        <thead>
          <tr>
            <th>Receipt number</th>
            <th>Card holder name</th>
            <th>Amount Paid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fieldValue">{{ReceiptNumber}}</td>
            <td class="fieldValue">{{CardholderName}}</td>
            <td class="fieldValue">{{AmountPaid}}</td>
          </tr>
        </tbody>
      </table> -->
      <p class="finePrint">This constitutes a (mini) Tax Invoice and receipt. Amount paid is GST-free and includes card surcharge. A detailed Tax Invoice was emailed to the responsible person or owner if they provided an email with the Record of Movement. <span class="todo">For a refund ... (todo)</span></p>
    </section>

    <section>
      <h2>NSW destinations notification</h2>
      <p>At season's end, or as you visit farms, please notify us of NSW Destinations you haven't already told us about: <span class="todo">Clickable QRcode Individualised</span></p>
    </section>

    <section>
      <h2>Payment exemption to re-enter NSW within the season</h2>
      <p class="finePrint">I <span class="fieldValue"></span> authorize another entry into NSW, expiry <span class="fieldValue"></span> as the person responsible has needed to re-enter Queensland (e.g. for repairs or other matters). The person responsible will not be charged again. I will inform the Parthenium Weed Lead.</p>
    </section>

    <!-- <p class="finePrint">To enable this biosecurity certificate to be issued to you, the Department of Primary Industries (within the Department of Regional NSW) has asked you to provide personal information (such as your name, email or telephone number). We are unable to issue the certificate to you without this information. We may use and disclose your information as is reasonably necessary for the purpose of performing biosecurity risk functions under, or reasonably contemplated by, the NSW Biosecurity Act 2015. We will not otherwise disclose information about you to any person except where permitted by law. If you would like to gain access to, or amend your personal information, or require more details about privacy please contact us <a href="mailto:gipa@regional.nsw.gov.auu">gipa@regional.nsw.gov.au</a></p> -->

    <section>
      <h2>Office use</h2>
      <p class="finePrint">I will provide a paper certificate to the person responsible in all cases (it's important that we don't reuse the paper certificate number when we tie it to a digital record).</p> 
    </section>
  </main>

    <footer>
      <table class="finePrint">
        <tr>
          <td><label for="DigitalReferenceCode">DigitalReferenceCode</label><br /><span class="fieldValue" id="DigitalReferenceCode">{{DigitalReferenceCode}}</span></td>
          <td><label for="BaseFormSubmissionId">BaseFormSubmissionId</label><br /><span class="fieldValue" id="BaseFormSubmissionId">{{BaseFormSubmissionId}}</span></td>
          <td><label for="ApprovalFormSubmissionId">ApprovalFormSubmissionId</label><br /><span class="fieldValue" id="ApprovalFormSubmissionId">{{ApprovalFormSubmissionId}}</span></td>
        </tr>
        <tr>
          <td><label for="ApprovalFlowUpdatedAt">ApprovalFlowUpdatedAt</label><br /><span class="fieldValue" id="ApprovalFlowUpdatedAt">{{ApprovalFlowUpdatedAt}}</span></td>
          <!-- We include the non-breaking space to prevent the fieldValue inline-block from collapsing when in the PROD environment, which returns blank. 
               We use the hex value because we are using Polyglot XHTML  -->
          <td><label for="EnvPrefix">EnvPrefix</label><br /><span class="fieldValue" id="EnvPrefix">{{EnvPrefix}}&#x00A0;</span></td>
          <td><label for="CertificateTemplateVersion">CertificateTemplateVersion</label><br /><span class="fieldValue" id="CertificateTemplateVersion">v20240831-1732</span></td>
        </tr>
      </table>        
    </footer>
</body>