<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Tax Invoice</title>
  <style>/*<![CDATA[*/
    :root {
      --highlight-border-size: 5px;
        --nsw-brand-dark: #002664;
        --nsw-brand-light: #cbedfd;
        --nsw-brand-supplementary: #146cfd;
        --nsw-brand-accent: #d7153a;
        --nsw-black: #000;
        --nsw-grey-01: #22272b;
        --nsw-grey-02: #495054;
        --nsw-grey-03: #cdd3d6;
        --nsw-grey-04: #ebebeb;
        --nsw-off-white: #f2f2f2;
        --nsw-white: #fff;
        --nsw-status-success: #008a07;
        --nsw-status-success-bg: #e5f6e6;
        --nsw-status-info: #2e5299;
        --nsw-status-info-bg: #eaedf4;
        --nsw-status-warning: #c95000;
        --nsw-status-warning-bg: #fbeee5;
        --nsw-status-error: #b81237;
        --nsw-status-error-bg: #f7e7eb;
        --nsw-black-rgb: 0, 0, 0;
        --nsw-box-shadow: 0 0.25rem 0.75rem 0 rgba(var(--nsw-black-rgb), 0.15);
        
        --tax-invoice-paint: var(--nsw-black);
    }

    th {
      text-align: left;
    }
    td {
      text-align: right;
    }

    body {
      margin:  0;
      padding: 3em 4em;
      font-family: "Public Sans", sans-serif;
    }

    main {
      position: relative;
    }

    section {
      margin-bottom: 2em;
    }

    h1, h2 {
      color: var(--tax-invoice-paint);
    }

    h1 {
      float: left;
    }

    #paid {
      color: var(--nsw-status-success);
      font-size: 2em;
      border: var(--highlight-border-size) solid var(--nsw-status-success);
      display: inline-block;
      margin: 0.5em 1em;
      padding: 0.25em 0.5em;
      border-radius: 1em;
    }

    h2 {
      margin: 0 0 0.5em 0;
      font-size: 1.1em;
    }

    table {
      position: relative;
      left: -2px;
    }
    td, th {
      padding: 0;
    }
    th {
      font-weight: normal;
    }

    #paymentTransactionDetails tr:nth-last-child(2) th, #paymentTransactionDetails tr:nth-last-child(2) td {
      padding-bottom: 0.5em; 
    }

    tr.amountPaid th, tr.amountPaid td {
      font-weight: bold;
    }
    tr.amountPaid th {
      color: var(--tax-invoice-paint);
    }
    tr.amountPaid td {
      padding: 0.5em;
      border: var(--highlight-border-size) solid var(--tax-invoice-paint);
      border-radius: 1em;
      position: relative;
      right: -0.8em;
      /* box-shadow: var(--nsw-box-shadow); */
    }

    #logo {
      position: absolute;
      top: 0;
      right: 0;
    }

    #logo svg {
      height: 100px;
      width: 100px;
      object-fit: contain;
    }

    .smallPrint {
      font-size: 0.8em;
    }

    .todo {
      color: red;
    }


    
  /*]]>*/</style> 

</head>
<body>
<main>

<h1>Tax Invoice</h1>

<p id="paid">Paid</p>

<section id="logo">
  <!-- <img src="https://nswfoodauthority-parthenium-carrier-dev.cdn.oneblink.io/images/logos/PRIMARY-nsw-government-logo.svg" alt="Logo of Waratah and NSW government" /> -->
  {{{logo}}}
</section>

<section id="seller">
  {{sellerEntityName}}<br />
  {{sellerAbn}}<br />
  {{sellerStreetAddress}}<br />
  {{sellerSuburb}} {{sellerState}} {{sellerPostcode}}<br />
  {{sellerPhone}}<br />
</section>

<section id="to">
  <h2>To</h2>
  {{toFirstName}} {{toLastName}}<br />
  {{toBusinessName}}<br />
  {{toAbn}}<br />
</section>

<section id="description">
  <h2>Description of charged item</h2>
  Parthenium Weed Biosecurity Certificate. {{paperCertificateNumber}}
</section>

<section id="paymentTransactionDetails">
  <h2>Payment transaction details</h2>
  <table>
    <tr>
      <th>Receipt Number</th>
      <td>{{receiptNumber}}</td>
    </tr>
    <tr>
      <th>Card Holder Name</th>
      <td>{{cardholderName}}</td>
    </tr>
    <tr>
      <th>Card Number (Last 4 digits)</th>
      <td>{{cardNumberLast4digits}}</td>
    </tr>
    <tr>
      <th>Transaction Date Time</th>
      <td>{{transactionTime}}</td>
    </tr>
    <tr>
      <th>Principle Amount</th>
      <td>{{principalAmount}}</td>
    <tr></tr>
    <tr>
      <th>Surcharge Amount</th>
      <td>{{surchargeAmount}}</td>
    </tr>
    <tr class="amountPaid">
      <th>Amount Paid</th>
      <td>{{amountPaid}}</td>
    </tr>
  </table>
</section>

<section id="otherPaymentAspects" class="smallPrint">
  The Amount Paid includes the card surcharge. The purchase is GST-free. A refund can be requested if the machinery is not presented for inspection. If you no longer require a carrier biosecurity certificate contact <a href="mailto:weeds@dprid.nsw.gov.au">weeds@dprid.nsw.gov.au</a> to request a refund.
</section>

<section id="technical" class="smallPrint">
  <h2>Technical (Office Use)</h2>
   <table>
    <tr>
      <th>Form Name</th>
      <td>{{formName}}</td>
    </tr>
    <tr>
      <th>Form ID</th>
      <td>{{formId}}</td>
    </tr>
    <tr>
      <th>API Environment</th>
      <td>{{apiEnvironment}}</td>
    </tr>
    <tr>
      <th>Form Digital Reference Code</th>
      <td>{{formDigitalReferenceCode}}</td>
    </tr>
    <tr>
      <th>Form Submission ID</th>
      <td>{{formSubmissionId}}</td>
    </tr>
    <tr>
      <th>Form Date Time Submitted</th>
      <td>{{formDateTimeSubmitted}}</td>
    </tr>
    <tr>
      <th>Tax Invoice Version</th>
      <td>v20240911-1747</td>
    </tr>
   </table>
</section>

</main>
</body>
</html>